.main-content {
  margin-left: 250px; /* Correspond à la largeur de la nav */
  padding: 2rem;
  min-height: calc(100vh - 120px);
}

.h1{
color: #e73c7e;

}

.content-container {
  background: rgba(15, 23, 42, 0.3);
  border-radius: 10px;
  padding: 2rem;
  color: #f8fafc;
}

h2 {
  color: #e73c7e;
  margin-bottom: 1rem;
}

.page-content{

 color:  #e73c7e;
 text-align: center;
    margin-bottom: 30px;
backdrop-filter: blur(15px);
  
}